
body {
	background:rgb(255, 239, 173) url("purty_wood.png");
}

#editor {
	width:80%;
	height:80%;
	position:fixed;
	left:10%;
	top:10%;
	
	font-size:15px;
	background: url("lightpaperfibers.png");
	border:5px solid white;
}

#acbox {
	min-height:1.5em;
	max-height:6em;
	overflow-y:auto;
	background:white;
	color:black;
	position:absolute;
	z-index:100;
	border:1px solid grey;
	
	font-family:Open Sans, OpenSans, Arial, monospace;
	padding: 5px 5px 5px 5px;
	font-size:16px;
	
	border-radius:5px;
}

#acbox::-webkit-scrollbar { 
    display: none; 
}

#acbox div {
	cursor:pointer;
}